@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/asset/css/bootstrap.min.css">
<!-- plugins -->

<link href="~/asset/css/plugins/datatables.bootstrap.min.css" rel="stylesheet" />
<link href="~/asset/css/plugins/animate.min.css" rel="stylesheet" />
<link href="~/asset/css/plugins/font-awesome.min.css" rel="stylesheet" />

<link href="~/asset/css/style.css" rel="stylesheet" />


<!-- start: Content -->

<div class="panel box-shadow-none content-header">
    <div class="panel-body">
        <div class="col-md-12">
            <h3 class="animated fadeInLeft">Party </h3>
            <p class="animated fadeInDown">
                Old Data <span class="fa-angle-right fa"></span>Buyer & Seller
               
            </p>
        </div>


    </div>
</div>

<div class="row">

    <div class="col-md-12 top-20 padding-0">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3>Party List</h3>
                </div>
                <div class="panel-body">
                    <div class="responsive-table" id="dvTable">
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<!-- end: content -->




<script src="~/asset/js/plugins/moment.min.js"></script>


@*<script src="~/asset/js/jquery.ui.min.js"></script>
    <script src="~/asset/js/bootstrap.min.js"></script>*@

<!-- plugins -->
@*<script src="~/asset/js/plugins/moment.min.js"></script>
<script src="~/asset/js/plugins/jquery.nicescroll.js"></script>*@
<script src="~/asset/js/jquery.min.js"></script>
<script src="~/asset/js/plugins/jquery.datatables.min.js"></script>
<script src="~/asset/js/plugins/datatables.bootstrap.min.js"></script>


<!-- custom -->
@*<script src="~/asset/js/main.js"></script>*@
<script type="text/javascript">
    $(document).ready(function () {
        $('#datatables-example').DataTable();
        LoadCustomers();
    });

    function LoadCustomers() {
        $.ajax({
            url: "../API/Customer",
            type: "GET",

        }).done(function (result) {

            var dvheader = '<table id="datatables-example" class="table table-striped table-bordered" width="100%" cellspacing="0"><thead><tr><th>Customer ID</th><th>Customer Name</th><th>City</th><th>State</th><th>Pincode</th><th>Mobile</th><th>Email</th><th>Action</th></tr></thead><tbody>';
            var Customer = result;
            dv = '';
            $.each(Customer, function (idx, obj) {
                dv = dv + '<tr><td>' + obj.cust_id + '</td><td>' + obj.cust_name + '</td><td>' + obj.cust_city + '</td><td>' + obj.cust_state + '</td><td>' + obj.cust_pincode + '</td><td>' + obj.cust_mobile + '</td><td>' + obj.cust_email + '</td><td><button  type="button" style="background:transparent;border:none; " tooltip="Edit" onclick="Edit(' + obj.cust_id + ')" ><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" ></i></button>|<button  type="button" style="background:transparent;border:none; " tooltip="Delete" onclick="Delele(' + obj.cust_id + ')" ><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></button></td></tr>';
            });
            dv = dvheader + dv + '</tbody></table>'
            $('#dvTable').html('');
            $('#dvTable').html(dv);
            $('#datatables-example').DataTable();

        }).fail(function (error) {
            errorMsg("Unable to load your Request. Please try again later.");
        });

    }

    function Delete(Id) {
        $.ajax({
            url: "../API/Customer/" + Id,
            method: "delete",
            //data: {id:10},

        }).done(function (result) {
            LoadCustomers();
        }).fail(function (error) {
            errorMsg("Unable to load your Request. Please try again later.");
        });
    }

</script>
