<div class="col-md-12">
    <div class="col-md-12 panel">
        <div class="col-md-12 panel-heading">
            <h4>Member</h4>
        </div>
        <div class="col-md-12 panel-body">
            <div class="col-md-12">
                <div class="col-md-2">
                    <div class="form-group"><label>Member Type</label></div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-animate-text">
                        <select class="select2-A" style="width:100% !important" id="ddlMemberType">
                            <option value="AK">Alaska</option>
                            <option value="HI">Hawaii</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group" ><label>Business Type</label></div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-animate-text">
                        <select class="select2-A" style="width:100% !important" id="ddlBusinessType">
                            <option value="AK">Alaska</option>
                            <option value="HI">Hawaii</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Name</label>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group" >
                        <input type="text" class="form-control" id="txtName"/>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group" >
                        <label class="control-label">Company Name</label>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="txtCompany"/>
                    </div>
                </div>

              </div>

            <div class="col-md-12">
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Owner</label>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="txtOwner">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">PAN Number</label>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="txtPanNumber">
                    </div>
                </div>

            </div>


            <div class="col-md-12">
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Address1</label>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <textarea class="form-control" id="txtAddress2"></textarea>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Address2</label>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <textarea class="form-control" id="txtAddress2"></textarea>
                    </div>
                </div>

            </div>


            <div class="col-md-12">
                <div class="col-md-2">
                    <div class="form-group"><label>City</label></div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-animate-text">
                        <select class="select2-A" style="width:100% !important" id="ddlCity">
                           
                        </select>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group"><label>State</label></div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-animate-text">
                        <select class="select2-A" style="width:100% !important" id="ddlState">
                           
                        </select>
                    </div>
                </div>



            </div>


            <div class="col-md-12">
                <div class="col-md-2">
                    <div class="form-group"><label>Country</label></div>
                </div>
                <div class="col-md-4" >
                    <div class="form-group form-animate-text">
                        <select class="select2-A" style="width:100% !important" id="ddlCountry">
                          
                        </select>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group"><label>PinCode</label></div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="txtPincode"/>
                    </div>
                </div>

            </div>


            <div class="col-md-12">
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Mobile Number</label>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="txtMobileNumber">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Phone Number</label>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="txtPhoneNumber">
                    </div>
                </div>

            </div>

            <div class="col-md-12">
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Office Number</label>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="txtOfficeNumber">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Email</label>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="txtEmail">
                    </div>
                </div>

            </div>

           

        <div class="col-md-12">
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">Website</label>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" id="txtWebsite">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">GST Number</label>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" id="txtGst">
                </div>
            </div>

        </div>
        
         
        </div>
    </div>

    
















    <script src="~/asset/js/jquery.min.js"></script>
    <script src="~/asset/js/jquery.ui.min.js"></script>
   

    <script src="~/asset/js/bootstrap.min.js"></script>

    <!-- plugins -->
    <script src="~/asset/js/plugins/moment.min.js"></script>
    <script src="~/asset/js/plugins/jquery.knob.js"></script>
    <script src="~/asset/js/plugins/ion.rangeSlider.min.js"></script>
    <script src="~/asset/js/plugins/bootstrap-material-datetimepicker.js"></script>
    <script src="~/asset/js/plugins/jquery.nicescroll.js"></script>
    <script src="~/asset/js/plugins/jquery.mask.min.js"></script>
    <script src="~/asset/js/plugins/select2.full.min.js"></script>
    <script src="~/asset/js/plugins/nouislider.min.js"></script>
    <script src="~/asset/js/plugins/jquery.validate.min.js"></script>

    <!-- custom -->
    <script src="~/asset/js/main.js"></script>


    <!-- plugins -->
  

  






    <script type="text/javascript">
        $(document).ready(function () {
            //$(".select2-A").select2({
            //    placeholder: "Select a state",
            //    allowClear: true
            //});
            LoadMemberType();
            LoadBusinessType();
            LoadCountry();
            LoadState();
            LoadCity();
            
        });

        function LoadMemberType() {
            var member = new FormData()
            member.append('mt_id', 2);
            member.append('mt_name', 'ram');
            $.ajax({
                url: '/../API/Member',
                type: 'POST',
                dataType: 'json',
                data: member,
                processData: false,
                contentType: false,// not json
                complete: function (data) {
                    var mediaId = $.parseJSON(data.responseText); //?

                },
                error: function (response) {
                    console.log(response.responseText);
                }
            });







            //$.ajax({
            //    url: '../API/MemberType',
            //    type: 'POST',
            //    dataType: 'json',
            //    data: member,
            //    success: function (data, textStatus, xhr) {
            //        console.log(data);
            //    },
            //    error: function (xhr, textStatus, errorThrown) {
            //        console.log('Error in Operation');
            //    }
            //});






            $.ajax({
                url: "../API/MemberType",
                type: "GET",
                //data: {id:10},

            }).done(function (result) {
                var newJ = $.parseJSON(result);
                $('#ddlMemberType').empty();
                $('#ddlMemberType').append('<option value= "0">' + "Select Member Type" + '</option>');
                $.each(newJ, function (idx, obj) {
                    $('#ddlMemberType').append('<option value=' + obj.mt_id + '>' + obj.mt_name + '</option>');
                });

            }).fail(function (error) {
                errorMsg("Unable to load your Request. Please try again later.");
            });
        }

        function LoadBusinessType()
        {
            $.ajax({
                url: "../API/BusinessType",
                type: "GET",
                //data: {id:10},

            }).done(function (result) {
                var newJ = $.parseJSON(result);
                $('#ddlBusinessType').empty();
                $('#ddlBusinessType').append('<option value= "0">' + "Select Business Type" + '</option>');
                $.each(newJ, function (idx, obj) {
                    $('#ddlBusinessType').append('<option value=' + obj.bt_id + '>' + obj.bt_name + '</option>');
                });

            }).fail(function (error) {
                errorMsg("Unable to load your Request. Please try again later.");
            });

        }


        function LoadCountry() {
            $.ajax({
                url: "../API/Country",
                type: "GET",
                //data: {id:10},

            }).done(function (result) {
               
                var country = $.parseJSON(result);

                $('#ddlCountry').empty();
                $('#ddlCountry').append('<option value= "0">' + "Select Country" + '</option>');
                $.each(country, function (idx, obj) {
                    $('#ddlCountry').append('<option value=' + obj.con_id + '>' + obj.con_name + '</option>');
                });

            }).fail(function (error) {
                errorMsg("Unable to load your Request. Please try again later.");
            });

        }



        function LoadState() {
            $.ajax({
                url: "../API/State",
                type: "GET",
                //data: {id:10},

            }).done(function (result) {
                debugger;
                var state = $.parseJSON(result);
                debugger;
                $('#ddlState').empty();
                $('#ddlState').append('<option value= "0">' + "Select State" + '</option>');
                $.each(state, function (idx, obj) {
                    $('#ddlState').append('<option value=' + obj.sta_id + '>' + obj.sta_name + '</option>');
                });

            }).fail(function (error) {
                errorMsg("Unable to load your Request. Please try again later.");
            });

        }

        function LoadCity() {
            $.ajax({
                url: "../API/City",
                type: "GET",
                //data: {id:10},

            }).done(function (result) {
                var city = $.parseJSON(result);
                $('#ddlCity').empty();
                $('#ddlCity').append('<option value= "0">' + "Select City" + '</option>');
                $.each(city, function (idx, obj) {
                    $('#ddlCity').append('<option value=' + obj.city_id + '>' + obj.city_name + '</option>');
                });

            }).fail(function (error) {
                errorMsg("Unable to load your Request. Please try again later.");
            });

        }



            

        

    </script>
